body {
	background-image: url('../extra/background.jpg');
	background-repeat: no-repeat;
	/* width: 100%; */
	min-height: 100%;
}

/* #input_comment{
    margin: auto;
    width: 300px;
    height: 200px;
} */

#heart {
    color: white;
}

#sub_comment {
    align-self: center;
    margin-left: 3%;
}

#user_comment{
    margin-left: 3%;
    width: 90%;
    height: 18%;
}

#image_box {
    width: 100%;
    height: 100vh;
    padding: 10px;
    margin: auto;
    /* align-content: center; */
    background-color: black;
}

#modal_image {
    width: 95%;
    height: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
    height: 60%;
    margin: auto;
    display: block;
}

#comment_list {
    border: solid white 2px;
    width: 95%;
    background-color: grey;
    margin: auto;
    /* background-color: lightcyan; */
}

#comment_name {
    width: 100%;
    background-color: lightgray;
    height: 20%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

#comment {
    font-size: 14px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.central_grid_mini {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	padding: 10px;
	grid-gap: 0.5em;
	min-height: 10vh;
  }

.central_grid_item {
	padding: 1vh;
	width: 100%;
	height: auto;
	display: block;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}

.central_grid {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	padding: 10px;
	grid-gap: 0.5em;
	min-height: 90vh;
  }

.central_grid_item_mini {
	padding: 1vh;
	width: 100%;
	height: auto;
	display: block;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 30px; */
    left: 10px;
    right: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    /* bottom: 10px; */
    /* top: 15px; */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
/* #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
} */

/* The Close Button */
.close {
    position: relative;
    /* top: 20px;
    right: 50px; */
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.delete {
    position: relative;
    /* top: 20px;
    right: 50px; */
    color: black;
    font-size: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.delete:hover,
.delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Pagination links */
.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: red;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: orange;}
