body {
	background-color: #d2691e;
}

.login_class {
	background-color: lightgray;
	display: block;
	width: 350px;
	margin: auto;
	margin-top: 20%;
	padding: 5px;
	border-radius: 2%;
}

.verifcation_class {
	display: block;
	width: 750px;
	height: 30px;
	margin: auto;
}

.registration {
	background-color: lightgray;
	display: block;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	padding: 5px;
	border-radius: 2%;
}

#error {
	text-align: center;
	font-size: 14;
}

#veri_zergling {
	width: 30%;
	margin-left: 30%;
	margin-right: auto;
	margin-top: 7%;
}

#login_form {
	margin-right: 5px;
}

#login {
	position: relative;
	margin-left: auto;
	margin-right: 20px;
	font-size: 20px;
}
